{% extends '../product/base.html' %}
{% load static %}
{% block content %}

<div class="container-wrapper">
  <!-- Main content 
  <section class="content"> -->
    <form>   
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
      <div class="relative">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
              <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
          </div>
          <input type="search" id="default-search" class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Mockups, Logos..." required>
          <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
      </div>
  </form>
      <div class="row">
          <div class="card">
                <div class='card-header'>product List
                  <a href="{% url 'product:create'%}" class='p-6'> Add product</a>
                </div>
                  <div class="card-body">
                    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                      {% for product in object_list %}
                          <div class="group relative">
                              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                                  <img src="{% static 'product/dj-logo.jpg' %}" alt="Product Image" class="h-full w-full object-cover object-center lg:h-full lg:w-full" />
                              </div>
                              <div class="mt-4 flex justify-between">
                                  <div>
                                      <h3 class="text-sm text-gray-700">
                                          <a href="{% url 'product:product_detail' product.id %}">
                                              <span aria-hidden="true" class="absolute inset-0"></span>
                                              {{ product.name }}
                                          </a>
                                      </h3>
                                      <p class="mt-1 text-sm text-gray-500">{{ product.category }}</p>
                                  </div>
                                  <p class="text-sm font-medium text-gray-900">{{ product.price }}</p>
                              </div>
                          </div>
                      {% endfor %}
                    
                    </div>  
                  </div>
      
          </div>
        </div>
      </div>
  </div>
  <!-- /.container-fluid 
  </section>-->
</div>
<!-- /.content -->
   
{% endblock %}
